spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/abs}
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 1
  jpa:
    open-in-view: false

  liquibase:
    user: ${DB_LOGIN:postgres}
    password: ${DB_PASSWORD:postgres}
    url: ${DB_URL:jdbc:postgresql://localhost:5432/abs}

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

credit:
  datasource:
    host: localhost
    port: 5432
    database: abs
    username: postgres
    password: postgres

server:
  port: 8081
